/* MAIN VARIABLES
========================================================================== */

$main-color: hsl(216, 100%, 48%);
$secondary-color: hsl(216, 80%, 48%);
$bg-grayish: hsl(228, 50%, 96%);
$select-color: hsl(228, 51%, 88%);
$bg-white: hsl(0, 0%, 100%);
$text-table: hsl(0, 0%, 46%);
$text-main: hsl(228, 50%, 96%);
$text-secondary: hsla(228, 50%, 96%, 0.5);
$border-color: hsl(0, 0%, 46%);
$button-secondary-color: hsla(216, 80%, 48%, .8);
$border-thead: 2px solid hsla(0, 0%, 46%, 20%);
$border-tbody: 1px solid hsla(0, 0%, 46%, 20%);

/* FONTS
========================================================================== */

$sidebar-header-font: 400;
$sidebar-text-font: 300;
$button-primary-font: 100;
$button-secondary-font: 300;
$table-text-font: 600;